<section class="main">

  <article class="article autolink <% 'contributed' if @article.external_owner? %>">

    <header>
      <h1 class="doc"><%= @article.metadata.title %></h1>
      <p class="meta">
        Local Preview.
      </p>
    </header>

    <div class="padder">

      <% if !@article.html.to_s.empty? %>

        <section id="table-of-contents">
          <h3 id="toc">Table of Contents</h3>
          <ul>
            <% @article.toc.each do |section| %>
            <li><a href="#<%= section.attr('id') %>"><%= section.inner_text %></a></li>
            <% end %>
          </ul>
        </section>

        <%= @article.html %>
      <% elsif @article.error %>
      <div class="cli-preview-error">
        <h4>Parsing error:</h4>
        <p>
          <%= @article.error %>
        </p>
      </div>
      <% end %>

      <form class="cli-save" action="<%= devcenter_base_url %>/admin/articles/cli-edit/<%= @article.metadata.id %>" method="POST">
        <input name="_method" type="hidden" value="put">
        <input type="hidden" name="article[title]" value="<%= @article.metadata.title %>">
        <input type="hidden" name="article[markdown_flavour]" value="<%= @article.metadata.markdown_flavour %>">
        <textarea style="display:none" name="article[content]">
<%= CGI.escapeHTML(@article.content.to_s.lstrip) %>
        </textarea>
        <input type="submit" value="Save in Dev Center">
      </form>
    </div>

  </article>
</section>