<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Preview: <%= @article.metadata.title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.5">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="authenticity_token" name="csrf-param">
  <link href="/assets/public.css" media="screen" rel="stylesheet" type="text/css">
  <!--[if IE 6]>
      <link href="https://universal-ie6-css.googlecode.com/files/ie6.0.3.css" media="screen" rel="stylesheet" type="text/css" />
      <![endif]-->
  <style>
    .parsing-error, .parsing-error h4 {
      color: red;
      line-height: 1.8em;
    }
    .save {
      margin: 2em 0;
    }
    .save textarea {
      display:none;
    }
    .save input {
      padding: 1em 2em;
    }
  </style>
  <script>
  try {
    var es = new EventSource('/stream');
    es.onmessage = function(e) {
      document.location.reload();
    };
    es.onerror = function(error) {
      es.close();
    }
  } catch (error) {
    console.log("ERROR:");
    console.log(error);
  }
  </script>
</head>
<body>
  <div id="heroku-header">
  <div id="heroku-header-hgroup">
    <h1><a href="https://heroku.com">Heroku</a></h1>
  </div>
  <div id="heroku-header-nav">
    <ul>
<li><a href="https://heroku.com/how/">How It Works</a></li>
      <li><a href="https://heroku.com/pricing/">Pricing</a></li>
      <li class="last"><a href="https://addons.heroku.com/">Add-ons</a></li>
    </ul>
<ul class="group" id="heroku-header-aid">
<li><a href="https://devcenter.heroku.com/">Dev Center</a></li>
      <li class="last"><a href="https://help.heroku.com">Help</a></li>
    </ul>
<ul class="last group" id="heroku-header-my-heroku">
<li class="last"><a href="/auth/login?back_to=%2Farticles%2Fcedar">Login</a></li>
    </ul>
</div>

  <div id="heroku-header-quicknav">
    <select><optgroup label="About">
<option value="https://heroku.com/how/">How It Works</option>
<option value="https://heroku.com/pricing/">Pricing</option>
<option value="https://addons.heroku.com/">Add-ons</option>
</optgroup>
<optgroup label="Support">
<option selected value="https://devcenter.heroku.com/">Dev Center</option>
<option value="https://help.heroku.com">Help</option>
</optgroup>
<optgroup label="My Heroku"><option value="/auth/logout?back_to=%2Farticles%2Fcedar">Login</option></optgroup></select><a href="#" onclick="return false;">Dev Center</a>
  </div>
</div>
<script type="text/javascript">
</script><div id="sheet">
      <div class="wrapper">
        <div class="pie-clearfix" id="article">
  <aside id="sidebar">
    <select id="quicknav" class="nocontent"><option value="/">Home</option>
<optgroup label="Overview">
<option value="/categories/getting-started">
          Getting Started
        </option>
<option value="/categories/platform-architecture">
          Platform Architecture
        </option>
<option value="/categories/application-architecture">
          Application Architecture
        </option>
</optgroup>
<optgroup label="Reference">
<option value="/categories/platform-features" selected>
          Platform Features
        </option>
<option value="/categories/language-support">
          Languages
        </option>
<option value="/categories/command-line">
          Command Line
        </option>
<option value="/categories/collaboration">
          Collaboration
        </option>
<option value="/categories/deployment">
          Deployment
        </option>
<option value="/categories/troubleshooting">
          Troubleshooting
        </option>
<option value="/categories/devcenter">
          Dev Center
        </option>
<option value="/categories/aspen-bamboo">
          Bamboo
        </option>
<option value="/categories/labs">
          Heroku Labs
        </option>
<option value="/categories/buildpacks">
          Buildpacks
        </option>
<option value="/changelog">
          Changelog
        </option>
</optgroup>
<optgroup label="Languages">
<option value="/categories/ruby">
          Ruby
        </option>
<option value="/categories/java">
          Java
        </option>
<option value="/categories/python">
          Python
        </option>
<option value="/categories/clojure">
          Clojure
        </option>
<option value="/categories/scala">
          Scala
        </option>
<option value="/categories/nodejs">
          Node.js
        </option>
</optgroup>
<optgroup label="Tutorials">
<option value="/categories/features">
          Adding Features
        </option>
<option value="/categories/facebook">
          Facebook
        </option>
<option value="/categories/mobile">
          Mobile
        </option>
<option value="/categories/database">
          Database
        </option>
</optgroup>
<optgroup label="Accounts &amp; Billing">
<option value="/categories/billing">
          Accounts &amp; Billing
        </option>
<option value="/categories/support">
          Support
        </option>
</optgroup>
<optgroup label="Add-ons">
<option value="/categories/heroku-postgres">
          Heroku Postgres
        </option>
<option value="/categories/addon-overview">
          Overview
        </option>
<option value="/categories/add-on-documentation">
          All Add-ons
        </option>
</optgroup></select><ul id="nav" class="nocontent">
<li class="category-group">
      <a class="category" href="#">Overview</a>

      <ul class="tags" style="display:none;">
<li>
            <a href="/categories/getting-started">Getting Started</a>
          </li>
          <li>
            <a href="/categories/platform-architecture">Platform Architecture</a>
          </li>
          <li>
            <a href="/categories/application-architecture">Application Architecture</a>
          </li>
      </ul>
</li>
    <li class="category-group">
      <a class="category" href="#">Reference</a>

      <ul class="tags" style="display:block;">
<li class="active">
            <a href="/categories/platform-features">Platform Features</a>
          </li>
          <li>
            <a href="/categories/language-support">Languages</a>
          </li>
          <li>
            <a href="/categories/command-line">Command Line</a>
          </li>
          <li>
            <a href="/categories/collaboration">Collaboration</a>
          </li>
          <li>
            <a href="/categories/deployment">Deployment</a>
          </li>
          <li>
            <a href="/categories/troubleshooting">Troubleshooting</a>
          </li>
          <li>
            <a href="/categories/devcenter">Dev Center</a>
          </li>
          <li>
            <a href="/categories/aspen-bamboo">Bamboo</a>
          </li>
          <li>
            <a href="/categories/labs">Heroku Labs</a>
          </li>
          <li>
            <a href="/categories/buildpacks">Buildpacks</a>
          </li>
          <li>
            <a href="/changelog">Changelog</a>
          </li>
      </ul>
</li>
    <li class="category-group">
      <a class="category" href="#">Languages</a>

      <ul class="tags" style="display:none;">
<li>
            <a href="/categories/ruby">Ruby</a>
          </li>
          <li>
            <a href="/categories/java">Java</a>
          </li>
          <li>
            <a href="/categories/python">Python</a>
          </li>
          <li>
            <a href="/categories/clojure">Clojure</a>
          </li>
          <li>
            <a href="/categories/scala">Scala</a>
          </li>
          <li>
            <a href="/categories/nodejs">Node.js</a>
          </li>
      </ul>
</li>
    <li class="category-group">
      <a class="category" href="#">Tutorials</a>

      <ul class="tags" style="display:none;">
<li>
            <a href="/categories/features">Adding Features</a>
          </li>
          <li>
            <a href="/categories/facebook">Facebook</a>
          </li>
          <li>
            <a href="/categories/mobile">Mobile</a>
          </li>
          <li>
            <a href="/categories/database">Database</a>
          </li>
      </ul>
</li>
    <li class="category-group">
      <a class="category" href="#">Accounts &amp; Billing</a>

      <ul class="tags" style="display:none;">
<li>
            <a href="/categories/billing">Accounts &amp; Billing</a>
          </li>
          <li>
            <a href="/categories/support">Support</a>
          </li>
      </ul>
</li>
    <li class="category-group">
      <a class="category" href="#">Add-ons</a>

      <ul class="tags" style="display:none;">
<li>
            <a href="/categories/heroku-postgres">Heroku Postgres</a>
          </li>
          <li>
            <a href="/categories/addon-overview">Overview</a>
          </li>
          <li>
            <a href="/categories/add-on-documentation">All Add-ons</a>
          </li>
      </ul>
</li>
</ul></aside><section id="main"><div id="admin-tabs"></div>



    <article><hgroup><h1><%= @article.metadata.title %></h1>



        <p class="meta">
          Local preview.
        </p>

      </hgroup>

    <% if !@article.html.to_s.empty? %>
      <%= @article.html %>
    <% elsif @article.error %>
    <div class="parsing-error">
      <h4>Parsing error:</h4>
      <p>
        <%= @article.error %>
      </p>
    </div>
    <% end %>

    <form class="save" action="<%= devcenter_base_url %>/admin/articles/update/<%= @article.metadata.id %>" method="POST">
      <input name="_method" type="hidden" value="put">
      <input type="hidden" name="article[title]" value="<%= @article.metadata.title %>">
      <textarea style="display:none1" name="article[content]">
<%= @article.content.to_s.lstrip %>
      </textarea>
      <input type="submit" value="Save in Dev Center">
    </form>

    </article>
  </section>
</div>


</body>
</html>